body {
    background-color:rgb(108, 46, 108);
}

div.poster{
    background-color:rgb(55, 60, 130);
    width:100%;
}

div.text{
    font-size:80px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    color:rgb(91, 163, 225);
    transition:1s;
}

/* rule 1 */

div.text.one{
    font-size:30px;
    background-color:bisque;
}

div.text.two{
    font-size:60px;
    background-color:rgb(139, 213, 247);
}

div.text.three{
    font-size:160px;
}

/* rule2 */

div.text.a{
    color:rgb(52, 52, 63);
}

div.text.b{
    color:rgb(103, 170, 167);
}

div.text.c{
    color:rgb(194, 135, 249);
}

/* rule3 */

div.text.x{
    text-align:left;
}

div.text.y{
    text-align:right;
}

div.text.z{
    text-align:center;
}
div.small {
    font-size:30px;
    color:rgb(205, 63, 86);
    text-align: center;
}
