body {
    background-color:rgba(243, 62, 174, 0.735);
}

div.poster{
    background-color:rgb(244, 128, 224);
    width:75%;
    margin-right: auto;
    margin-left: auto;
}

div.text{
    font-size:60px;
    font-family: Phosphate;
    text-align:center;
    color:aquamarine;
    transition:0.5s;
}

/* rule 1 */

div.text.one{
    font-size:30px;
    background-color: rgba(238, 201, 224, 0.735);
    margin-bottom:50px;
    border-radius: 60%;
}

div.text.two{
    font-size:60px;
    border-radius: 60%;
}

div.text.three{
    font-size:160px;
    border-radius: 60%;
}

/* rule2 */

div.text.a{
    color:blue;
}

div.text.b{
    color:rgb(16, 131, 126);
}

div.text.c{
    color:blueviolet;
}

/* rule3 */

div.text.x{
    text-align:right;
}

div.text.y{
    text-align:left;
}

div.text.z{
    text-align:center;
}
div.small {
    font-size:30px;
    color:pink;
    text-align: center;
}
